In [3]:
import pandas as pd
import numpy as np

# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      42.0  38.8  52.0  36.5  52.0  37.7
     2      52.0  35.8  45.0  35.4  55.0  35.5
2014 1      34.0  36.5  37.0  37.5  45.0  38.4
     2      47.0  36.9  40.0  36.3  18.0  37.8

In [4]:
health_data['Guido', 'HR']

year  visit
2013  1        52.0
      2        45.0
2014  1        37.0
      2        40.0
Name: (Guido, HR), dtype: float64